[submodule "assets/manifest"]
	path = assets/manifest
	url = https://github.com/missourimrdt/rovecomm_base
	branch = embedded-2024
[submodule "assets/node_modules/ws"]
	path = assets/node_modules/ws
	url = https://github.com/websockets/ws.git
