{
  "arrowParens": "avoid",
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
  "options": {
    "parser": "json"
  }
}
