<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <RED.Properties.Settings>
      <setting name="DefaultIP" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultPort" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="DefaultControlMode" serializeAs="String">
        <value>Idle</value>
      </setting>
      <setting name="VoiceMute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VoiceCommandsMute" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ModuleStateSaveFileName" serializeAs="String">
        <value>ModuleStateSaves.xml</value>
      </setting>
      <setting name="ServerListeningPort" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="DriveSpeedLimit" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DriveParabolicScaling" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ScienceCCDPixelCount" serializeAs="String">
        <value>3684</value>
      </setting>
      <setting name="ScienceCCDFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="InputSerialReadSpeed" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="InputAutoDeadzone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InputManualDeadzone" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="GPSBaseStationLocationLatitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GPSBaseStationLocationLongitude" serializeAs="String">
        <value>0</value>
      </setting>
    </RED.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
