name: Build and Create BaseStation Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read
  packages: read
  id-token: write

concurrency:
  group: 'create-release'
  cancel-in-progress: false

jobs:
  # Build the package for the current OS and create a zip file of the unpacked package.
  build:
    strategy:
      # Don't cancel the workflow if one of the matrix operations fails.
      fail-fast: false

      # The matrix is used to build the package for different OSes and create a zip file of the unpacked package.
      # Allowed Combinations:
      #   - Windows: exe, win-unpacked
      #   - Ubuntu: AppImage, linux-unpacked
      # Unfortunatly, the matrix doesn't have a cleaner way to exclude combinations. So, we have to list all the
      # combinations that we want to exclude.
      # In the future, if we want to add support for macOS, we can add the following combinations:
      #   - macOS: dmg, mac
      # At the moment the team doesn't have any macOS hardware so it isn't worth the runner minutes to add support for it.
      matrix:
        os: [windows, ubuntu]
        ext: [exe, AppImage]
        unpacked: [win-unpacked, linux-unpacked]
        exclude:
          - os:  windows
            ext:  exe
            unpacked:  linux-unpacked
          - os:  windows
            ext:  AppImage
            unpacked:  win-unpacked
          - os:  windows
            ext:  AppImage
            unpacked:  linux-unpacked
          - os:  ubuntu
            ext:  exe
            unpacked:  win-unpacked
          - os:  ubuntu
            ext:  exe
            unpacked:  linux-unpacked
          - os:  ubuntu
            ext:  AppImage
            unpacked:  win-unpacked
        node: [18.x]

    runs-on: ${{ matrix.os }}-latest

    steps:
      # Checkout the repository. The repository is checked out including its submodules
      # that are cloned recursively.
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      # Install Node.js, NPM and Yarn
      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      # Extract the reference name from the tag and store it in an output.
      # If running on a branch, the reference name is everything after the last slash.
      # If running on a tag, the reference name is the tag name.
      - name: Extract Reference Name
        id: extract_ref_name
        run: echo "::set-output name=ref_name::$(basename "${{ github.ref_name }}")"

      # Install the Yarn packages. The --frozen-lockfile flag ensures that the lockfile is not updated.
      - name: Install Yarn Packages
        run: yarn install --frozen-lockfile --network-timeout 300000

      # Build the package. The package is built for the current OS.
      - name: Build Package
        run: yarn package

      # Rename the package to include the reference name and the OS.
      - name: Rename Package
        run: mv release/RED*.${{ matrix.ext }} "RED.${{ steps.extract_ref_name.outputs.ref_name }}.${{ matrix.os }}.Installer.${{ matrix.ext }}"

      # Create a zip file of the unpacked package.
      - name: Create Zip
        uses: vimtor/action-zip@v1.2
        with:
          files: 'release/${{ matrix.unpacked }}/'
          recursive: true
          dest: 'RED.${{ steps.extract_ref_name.outputs.ref_name }}.${{ matrix.os }}.Unpacked.zip'

      # Upload the artifacts to GitHub. The artifacts are used in the publish job to create a release.
      # Or, they can be downloaded manually from the Actions tab if the release job is skipped.
      - name: Create Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RED.${{ steps.extract_ref_name.outputs.ref_name }}.${{ matrix.os }}
          path: |
            RED.${{ steps.extract_ref_name.outputs.ref_name }}.${{ matrix.os }}.Installer.${{ matrix.ext }}
            RED.${{ steps.extract_ref_name.outputs.ref_name }}.${{ matrix.os }}.Unpacked.zip
    outputs:
      extract_ref_name: ${{ steps.extract_ref_name.outputs.ref_name }}

  # Create a release on GitHub. The release is created with the artifacts from the build job.
  # The release is created as a draft and a prerelease. The release notes are generated from the commit messages.
  # The release is created only if the build job is successful and the event is not a workflow_dispatch event.
  publish:
    needs: build
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_dispatch' }}

    steps:
      # Download the artifacts from the build job.
      - name: Download Artifact
        uses: actions/download-artifact@v4

      # Copy the files to the release directory.
      - name: Copy Files to Release
        run: |
          mkdir -p release/
          for dir in RED.*.*; do if [ -d "$dir" ]; then cp -r "$dir"/* release/; fi; done

      # Create a release on GitHub. The release is created with the artifacts from the build job.
      - name: Create Release
        uses: softprops/action-gh-release@v0.1.15
        with:
          draft: true
          prerelease: true
          name: '${{ needs.build.outputs.extract_ref_name }}'
          generate_release_notes: true
          files: release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
